{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Acrilicos 1000 &#124; Acridise&ntilde;os  P&aacute;gina Principal</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">


</head>
<body>	

	<div class="row">
		<div class="container">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1>Muchas Gracias por tu mensaje, en breve te contactaremos</h1>
				</div>
			</div>
		</div>
	</div>

</body>
</html>

