{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Acrilicos 1000 &#124; Acridise&ntilde;os  P&aacute;gina Principal</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
	<link rel="stylesheet" href="{% static 'css/shadowbox.css' %}">
	<link rel="stylesheet" href="{% static 'css/animation-nav.css' %}">

</head>
<body>
	<br>
	<br>
	<br>
	<div class="row" style="background:darkgray;">
		<div class="col-md-12">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<img class="img-responsive" src="{% static 'img/slide-home.png' %}" alt="Home-Slides">
			</div>
			<div class="col-md-2"></div>				
		</div>
	</div>
	<br>	
	<br>	
	<br>	

	<div class="row row-nav">
		<div class="container">
			<div class="col-md-12 col-lg-12">
					<div class="col-md-5 col-lg-5">
						<div class="col-md-6 col-lg-6 col-sm-4">
			                <a href="#service-one"  data-toggle="tab">			                    
		                        <div>
		                        	<div class="thumbnail">
		                            	<img class="img-responsive" src="{% static 'img/quienes-somos.png' %}" alt="Sobre Nosotros" class="img-quienes-somos"><div class="caption text-center">SOBRE NOSOTROS</div>
		                            </div>
		                        </div>			                   
			                </a>
			            </div>
			        </div>
					<div class="col-md-7 col-lg-7" style="padding-left:0px; padding-right:0px;">
			            <div class="col-md-3 col-lg-3 col-sm-3">
			                <a href="#service-one"  data-toggle="tab">			                    
		                        <div>
		                        	<div class="thumbnail">
		                            	<img class="img-responsive" src="{% static 'img/quienes-somos.png' %}" alt="Sobre Nosotros" class="img-quienes-somos">
		                            	<div class="caption text-center" style="padding-left:0px; padding-right:0px;">SOBRE NOSOTROS</div>
		                            </div>
		                        </div>			                   
			                </a>
			            </div>
			            <div class="col-md-3 col-lg-3 col-sm-4">
			                <a href="#service-two"  data-toggle="tab">			                    
		                        <div id="clientes">
		                        	<div class="thumbnail">
			                            <img class="img-responsive" src="{% static 'img/tecnologia.png' %}" alt="Clientes Preferenciales" class="img-quienes-somos">
			                            <div class="caption text-center">PORTAFOLIO</div>
		                            </div>
		                        </div>			                   
			                </a>
			            </div>
			            <div class="col-md-3 col-lg-3 col-sm-4">
			                <a href="#service-three"  data-toggle="tab">			                    
		                        <div>
		                        	<div class="thumbnail">
			                            <img class="img-responsive" src="{% static 'img/galeria.png' %}" alt="Equipo de Trabajo" class="img-quienes-somos">
			                            <div class="caption text-center">PROYECTOS</div>
		                            </div>
		                        </div>			                    
			                </a>
			            </div>

			            <div class="col-md-3 col-lg-3 col-sm-4">
			                <a href="#service-three"  data-toggle="tab">			                   
		                        <div>
		                        	<div class="thumbnail">
			                            <img class="img-responsive" src="{% static 'img/contacto.png' %}" alt="Equipo de Trabajo" class="img-quienes-somos">
			                            <div class="caption text-center">CONTACTO</div>
		                            </div>
		                        </div>			                   
			                </a>
			            </div>
		        	</div>
		    	</div>			        
			</div>
		</div>

		<br>
		<br>
		<br>
		<br>

		<div class="row row-nav-tabs">
			<div class="container">
				<div class="col-md-12">
					<ul class="nav nav-tabs">
					  <li class=" col-md-4 active">
					  	<a href="#quienes-somos" class="text-center" data-toggle="tab">QUIENES SOMOS</a>
					  	<div class="animation hidden-xs"></div>
					  </li>
					  <li class="col-md-4">
					  	<a href="#mision" class="text-center" data-toggle="tab">MISI&Oacute;N</a>
					  	<div class="animation hidden-xs"></div>
					  </li>
					  <li class="col-md-4">
					  	<a href="#vision" class="text-center" data-toggle="tab">VISI&Oacute;N</a>
					  	<div class="animation hidden-xs"></div>
					  </li>				  
					</ul>
				</div>
			</div>
		</div>

		<div class="tab-content">
		  <div class="tab-pane active" id="quienes-somos">
		  	<div class="row row-quienes-somos">
			<div class="col-md-12">
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-12">
							<h1 class="text-center text-blue">QUIENES SOMOS?</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-1"></div>
							<div class="col-md-5">
								<img src="{% static 'img/acrilicos-mil.png' %}" alt="Logo Acrilicos 1000" class="img-responsive">
							</div>
							<div class="col-md-5">
								<img src="{% static 'img/acri-disenos.png' %}" alt="Logo Acrilicos 1000" class="img-responsive">
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 text-white text-justify">
							<br>
							{% for contenido in contenido %}
							{% autoescape off %}
							{{ contenido.quienes_somos }}
							{% endautoescape %}
							{% endfor %}
						</div>
					</div>
					
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		  </div>
		  <div class="tab-pane" id="mision">
		  	<div class="row row-quienes-somos">
			<div class="col-md-12">
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<h1 class="text-center text-blue">MISION</h1>
						</div>
					</div>
					<div class="row hidden-sm hidden-xs">
						<div class="col-md-12 col-sm-12">
							<div class="col-md-1"></div>
							<div class="col-md-5">
								<img src="{% static 'img/acrilicos-mil.png' %}" alt="Logo Acrilicos 1000" class="img-responsive">
							</div>
							<div class="col-md-5">
								<img src="{% static 'img/acri-disenos.png' %}" alt="Logo Acrilicos 1000" class="img-responsive">
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>						
				</div>
				
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 text-white text-justify">
							<br>
							{% for contenido in contenido %}
							{% autoescape off %}
							{{ contenido.mision }}
							{% endautoescape %}
							{% endfor %}
						</div>
					</div>
					
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		  </div>
		  <div class="tab-pane" id="vision">
		  	<div class="row row-quienes-somos">
				<div class="col-md-12">
					<div class="col-md-5">
						<div class="row">
							<div class="col-md-12">
								<h1 class="text-center text-blue">VISION</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-1"></div>
								<div class="col-md-5">
									<img src="{% static 'img/acrilicos-mil.png' %}" alt="Logo Acrilicos 1000" class="img-responsive">
								</div>
								<div class="col-md-5">
									<img src="{% static 'img/acri-disenos.png' %}" alt="Logo Acrilicos 1000" class="img-responsive">
								</div>
								<div class="col-md-1"></div>
							</div>
						</div>	
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12 text-white text-justify">
								<br>
								{% for contenido in contenido %}
								{% autoescape off %}
								{{ contenido.vision }}
								{% endautoescape %}
								{% endfor %}
							</div>
						</div>
						
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		  </div>		  
		</div>		

		<div class="row valores">
		 	<div class="container">
		 		<div class="col-md-12">
		 			<div class="col-md-2"></div>
		 			<div class="col-md-8">
		 				<div class="col-md-12">
		 					<div class="col-md-4 col-sm-4 col-xs-4">
		 						<div id="circle-1" class="circle-text">
		 							<div class="thumbnail thumbnail-custom">
		 								<img src="{% static 'img/confianza.png' %}" alt="Confianza">
		 								<div class="caption">
		 									<span class="text-blue">CONFIANZA</span>
		 								</div>
		 							</div>
		 						</div>
		 					</div>
		 					<div class="col-md-4 col-sm-4 col-xs-4">
		 						<div id="circle-2" class="circle-text">
		 							<div class="thumbnail thumbnail-custom">
		 								<img src="{% static 'img/calidad.png' %}" alt="Calidad">
		 								<div class="caption">
		 									<span class="text-blue">CALIDAD</span>
		 								</div>
		 							</div>
		 						</div>
		 					</div>
		 					<div id="circle-3" class="col-md-4 col-sm-4 col-xs-4">
		 						<div class="circle-text">
		 							<div class="thumbnail thumbnail-custom">
		 								<img src="{% static 'img/cumplimiento.png' %}" alt="Cumplimiento">
		 								<div class="caption">
		 									<span class="text-blue">CUMPLIMIENTO</span>
		 								</div>
		 							</div>
		 						</div>
		 					</div>
		 				</div>
		 			</div>
		 			<div class="col-md-2"></div>
		 		</div>
		 	</div>
		 </div>


		<div class="row contenedor-tecnologia">

			 <div class="col-md-12">
			 	<div class="container">
			 		<div class="col-md-12 text-120">
			 			<br>		 			
			 			<h2 class="text-center text-blue">TECNOLOGIA</h2>
			 			<br>
			 		</div>
			 	</div>
			 </div>

			 <div class="col-md-12 p-tecnologia">			 	
			 	<div class="container">
			 		<div class="col-md-12 text-justify">
			 			<br>
			 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, minus esse totam nulla asperiores qui accusantium dolores veritatis. Quia, earum similique facere aspernatur rem nobis voluptatum quisquam pariatur aut beatae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, excepturi odit ab voluptatem qui distinctio eius illum molestiae. Nihil, eius alias suscipit fugit dolor nostrum laboriosam quaerat minima voluptatibus reprehenderit.</p>

			 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, minus esse totam nulla asperiores qui accusantium dolores veritatis. Quia, earum similique facere aspernatur rem nobis voluptatum quisquam pariatur aut beatae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, excepturi odit ab voluptatem qui distinctio eius illum molestiae. Nihil, eius alias suscipit fugit dolor nostrum laboriosam quaerat minima voluptatibus reprehenderit.</p>
			 			<br>
			 		</div>
			 	</div>
			 	
			 </div>

			 


		</div>

		<div class="row background-blue">
			<div class="container">
				<div class="col-md-12">
					<div class="page-header" style="border-bottom: 1px solid #4CA8D9;">
						<h2 class="text-blue">ULTIMOS PROYECTOS</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="row background-blue">
			 	<div class="col-md-12">
			 		<div class="container container-proyectos">
						{% for proyecto in proyecto %}
			 			<div class="col-md-2 col-sm-2 col-xs-3 col-proyectos">
			 				<a  href="{% url 'website.views.paginaProyecto' proyecto.pk  %}" rel="shadowbox" title="{{ proyecto.nombre }}" class="thumbnail">
			 					<ul class="bxslider proyecto{% cycle '1' '2' '3' %}" style="background:black;">	
			 						{% for imagenproyecto in proyecto.imagenes_del_proyecto.all %}
	      							<li>     								
	      								<img class="img-responsive" src="{{ imagenproyecto.imagen_thumbnail.url }}" alt="Avisos Acrilicos" title="{{ proyecto.nombre }}">	
	      							</li>
	      							{% endfor %}
      							</ul>
    						</a>
			 			</div>			 			
						{% endfor %}
			 		</div>
			 		<br>
			 		<br>
			 	</div>
			 </div>	

		

		<div class="row" style="background:#1C3237; color:white;">
			<div class="container">
			    <div class="col-md-12">
			     <div class="page-header">
			        <h1 class="text-white text-center">CONT&Aacute;CTENOS</h1>
			     </div>
			    </div>
			    <div class="col-md-12">
			      <br>              
			      <div class="col-md-6">
			        <div class="col-md-12">
			          Cra 8 No. 27-27  <br> Centro Comercial el Diamante - Local 105<br>
						Tel: (57)(6) 326 77 31 - 326 79 08 - 3205744 <br>
								acrilicos1000@hotmail.com 
			        </div>                
			        <div class="col-md-12">
			        	<br>
			          Cra 8 No. 27-27  <br> Centro Comercial el Diamante - Local 105<br>
								Tel: (57)(6) 326 77 31 - 326 79 08 - 3205744 <br>
								acrilicos1000@hotmail.com 
			        </div>               
			        <div class="col-md-12">
			        	<br>
			          Cra 8 No. 27-27  <br> Centro Comercial el Diamante - Local 105<br>
								Tel: (57)(6) 326 77 31 - 326 79 08 - 3205744 <br>
								acrilicos1000@hotmail.com 
			        </div>
			        <div class="col-md-12">
			        	<br>
			        	<div class="col-md-2">
			        		<a class="thumbnail" href="facebook.com" style="background:#1C3237; color:white; border:none;">
								<img class="img-responsive" src="{% static 'img/facebook.png' %}" alt="Siguenos en Facebook">
							</a>
			        	</div>
			        	<div class="col-md-2">
			        		<a class="thumbnail" href="twitter.com" style="background:#1C3237; color:white; border:none;">
								<img class="img-responsive" src="{% static 'img/twitter.png' %}" alt="Siguenos en Twitter">
							</a>
			        	</div>
			        	<div class="col-md-2">        		
			        	</div>
			        	<div class="col-md-2">			        		
			        	</div>
			        	<div class="col-md-2"></div>
			        	<div class="col-md-2"></div>
			        </div>
			      </div>
			      <br class="visible-xs visible-sm">
			      <br class="visible-xs visible-sm">
			        <div class="col-md-6">                    
			            <form action="/contacto/" id="contacto" class="form-horizontal" role="form" method="post">
			             	{% csrf_token %}
			             {{ form.non_field_errors }} 	
			               <div class="form-group form-contacto">
			               	{{ form.nombre.errors }}
			                 <label for="nombre" class="col-sm-3 col-lg-2">NOMBRE</label>
			                 <div class="col-sm-9 col-lg-10">
			                   {{ form.nombre }}
			                 </div>
			               </div>
			               <div class="form-group form-contacto">
			               	{{ form.apellidos.error }}
			                 <label for="apellidos" class="col-sm-3 col-lg-2">APELLIDOS</label>
			                 <div class="col-sm-9 col-lg-10">
			                {{ form.apellidos }}
			                 </div>
			               </div>
			               <div class="form-group form-contacto">
			               	{{ form.email.error }}
			                 <label for="email" class="col-sm-3 col-lg-2">EMAIL</label>
			                 <div class="col-sm-9 col-lg-10">
			                   {{ form.email }}
			                 </div>
			               </div>
			               <div class="form-group form-contacto">
			               	{{ form.celular.error }}
			                 <label for="celular" class="col-sm-3 col-lg-2">CELULAR</label>
			                 <div class="col-sm-9 col-lg-10">
			                   {{ form.celular }}
			                 </div>
			               </div>
			               <div class="form-group form-contacto">
			               	{{ form.mensaje.error }}
			                 <label for="mensaje" class="col-sm-3 col-lg-2">MENSAJE</label>
			                 <div class="col-sm-9 col-lg-10">
			                   {{ form.mensaje }}
			                 </div>
			               </div>                      
			               
			               <div class="form-group form-contacto">
			                 <div class="col-sm-offset-2 col-sm-9 col-lg-10">
			                   <button type="submit" class="btn btn-default" style="font-size:20px;">ENVIAR</button>
			                 </div>
			               </div>
			             </form>  			   
			        </div>
			        <br>
			        <br>
			    </div>
			</div>
	<br>
</div>



	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>							
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
	<script src="{% static 'js/bxslider-custom.js' %}"></script>  
	<script src="{% static 'js/shadowbox.js' %}"></script>  
	
	<script>
		$(document).on('ready', function(){
			$('input').attr('required', 'required');
			var attrMensaje = {
				'rows': '4',
				'cols': '1',
			}

			$('#id_mensaje').attr(attrMensaje);
		/*	var emailField = $('input').attr('type', 'required').id;*/
		});
	</script>

	<script type="text/javascript">
		Shadowbox.init();
	</script>

	<script>

		$(document).on('ready', function(){

			$('.nav-tabs li a').on({
				'onmouseover': function(){
					$('.animation').css('animation', 'grouth 1s')
				}
			})

		})


	</script>


</body>
</html>

